body {
    margin: 0px;
    padding: 0px;
}

#page-wrapper {
    background-color: antiquewhite;
    width: 960px;
    height: 1000px;
    margin: 0px auto;
}
#header{
    background-color:wheat;
    width:100%;
    height:50px;
}

#page-wrapper > #inputBoxGroup {
    margin-left: auto;
    margin-right: auto;
}
